body {
  background-color: #f4f4f4;
}
.color-box {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin: 5px;
}
.color1 {
  background-color: #dd1313;
}
.color2 {
  background: linear-gradient(180deg, red 10%, blue 90%);
}
.color3 {
  background-color: blue;
}
.color4 {
  background-color: hsl(250, 100%, 50%);
}
.color5 {
  background-color: hsl(300, 100%, 25%);
}
